<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>grAder | Home</title>
</head>
<body>
  <nav>
    <a href="/2019/fall" class="">2019 Fall</a>
    <a href="/2019/spring" class="">2019 Spring</a>
    <a href="/2018/fall" class="">2018 Fall</a>
    <a href="/2018/spring" class="">2018 Spring</a>
  </nav>
  <main>
    <div >

    </div>
  </main>
  <footer>

  </footer>
</body>
</html>